body {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 10px;
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

table, th, td {
  border-collapse: collapse;
  border: 1px solid slategrey;
  table-layout: fixed;
}

.heading_col {
  border-bottom: 2px solid black;
}
.heading_row {
  border-right: 2px solid black;
}

th, td {
  min-width: 50px;
  max-width: 100px;
  overflow-wrap: break-word;
}

th {background-color: aquamarine;}
tr:nth-child(even) {background-color: #D6EEEE;}
td:hover {background-color: #cfcfcf;}

td input {
  width: 50px;
  padding: none;
  border: none;
  background-color: #bada55;
}
